            .pxl{
                width: 15px;
                height: 15px;
                background-color: white;
                margin: 1px;
            }
            .fld{
             /*   width: 100%;
                height: 100%;*/
                padding: 5px;
                background-color: gray; 
                border-radius: 5px;
                
            }
            .str{
               /* width: 6em;
                height: 2em;*/
                background-color: lightgray;
                display: flex;  
                align-items: center;
            }
            .palitraStr{
                /*width: 3em;
                height: 2em;*/
                background-color: lightgray;
                display: flex;  
                align-items: center;
            }
            .palitra{
                /*width: 3em;
                height: 2em;*/
               padding: 4px;
                background-color: gray; 
                border-radius: 4px;
               /* display: flex;  
                align-items: center;*/
            }
            .farba{
                width: 1em;
                height: 1em;
                border-radius: 1em;
                border-color: black;
                border-width: 1px;
                border-style: solid;
                margin: 2px;
            } 
            .pltr{
                /*width: 3em;
                height: 2em;
                background-color: lightgreen;*/
                display: flex;  
                align-items: center;
            }              
            .instr{
                /*width: 3em;
                height: 2em;
                background-color: lightgreen;
                display: flex;  */
                align-items: center;
            }   
            .curBr{
                width: 2em;
                height: 2em;
                border-radius: 2em;
                border-color: black;
                border-width: 1px;
                border-style: solid;
                margin: 2px; 
            }
            .input{
                width: 7em;
                height: 2em;
            }